APP_ENVIRONMENT=dev
POSTGRES_DSN=postgres://brook:brook@localhost:5432/brook?sslmode=disable
ARANGODB_ENDPOINTS=http://localhost:8529
ARANGODB_USERNAME=root
ARANGODB_PASSWORD=brook
ARANGODB_DATABASE=brook